nav {
    background-color: #8BAAAD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    /* box-shadow: 5px 5px 3px #C59FC9; */
}

.logoContainer {
    /* margin: auto; */
    height: 140px;
    background-color: #8BAAAD;
}

.logoContainer header {
  margin-left: 10px; 
  white-space: nowrap; 

}
.logoContainer img {
    display: inline-block;
    width: 130px;
    margin-left: 10px; 
}

.buttons {

    margin:auto;
    background-color: #8BAAAD;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-shrink: 0;
    /* padding: 10px; */
}



button {
  margin:auto;
  /* outline: none; */
  padding: 10px;
  border: 2px;
  background-color: #8BAAAD; 
  border-color:#8BAAAD;
  width: 200px;
  height: 50%;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Verdana;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
button:hover {
  background-color: #c1deec;
}

header {
    display: inline-block;
    /* width: 300px; */
    height: 250px;
    text-align: left;
    padding-left: 10px;
    color: #000;
    vertical-align: middle;
    font-family: Verdana;
    font-size: 36px;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: normal; */
}
.spacer {
  height: 5px;
  width: 100%;
  background-color:  #E7EDEC; 
  color:#E7EDEC;
  display: block;
  margin-top: 20px;
}